.pabout
	background-color #eee
	
	&__container
		margin 0 auto
		width 1000px
		
	&__content-block
		font-family "Iowan Old Style"
		padding 20px
		
		h2
			font-size 2em
			font-weight 600
			color #13535e
			margin-bottom 12px
			
		p
			font-size 1.3em
			color #3f8e9a