.posts--blog
	margin 0 auto
	max-width 80%
	padding 30px 0px

.post-title__container
	h1
		font-size 2.5em

.bpost
	
	&__container
		padding 30px 0px
		width 60%
	
	&__content
		padding 30px 0px
		width 60%
		font-family "Iowan Old Style"
		font-size 1.2em
		line-height 1.6em
		color #13535e
		margin 0 auto
		
		&:first-child:first-letter
			float left
			font-size 6em
			line-height 6rem
			padding-right 20px
			font-weight 800

.flex
	display flex !important
	justify-content center
	flex-direction column
