.page
	background-color #eee
	
	&__container
		font-family "Iowan Old Style"
		
		&--top
			margin 0 auto
			width 1000px
			
		&--markup
			color #13535e
			
			p
				padding 10px 0px;
				
			strong
				font-weight bold
