.page
	background-color #eee
	
	&__container
		font-family "Iowan Old Style"
		
		&--top
			margin 0 auto
			width 1000px
			
		&--fb
			display flex
			flex-direction column
			align-items center
			
			&__header
				width 550px
				font-family "Iowan Old Style"
				color #13535e
				border-top 2px solid rgba(#13535e, 0.2)
				
				h2
					padding-top 20px
					font-size 1.9em
					font-weight 800
					
				p
					padding 20px 0px;

		&--markup
			color #13535e
			
			p
				padding 10px 0px;
				
			strong
				font-weight bold
