@import "nib"

.header
  background-color #eee
  font-family "Iowan Old Style"
  box-shadow 0px 9px 24px 3px rgba(0,0,0,0.77)
  
  //position fixed

  &__container
    padding 25px 0px
    max-width 800px
    margin 0 auto

    display flex
    align-items center
    justify-content space-between
    flex-direction row

  &__logo
    color #007586

    > h1
      display flex
      flex-direction column
      align-items center

    &__upper
      font-size 1em
      font-weight 800
      text-transform uppercase

    &__lower
      font-size 2.95em
      font-weight 200
      font-style italic

  &__nav

    > ul
      > li
        width 85px
        display inline-block
        text-align center

        > a
          padding 8px 8px
          font-size 1.15em
          font-weight 600
          text-decoration none
          color #13535e

          &:hover
            border-bottom 2px solid #c9c9c9
            margin-bottom -2px
            font-weight 800

.hero
  background-image url("br.png")
  background-size cover

  &__container
    display flex
    justify-content space-around
    align-items center
    
    width 1000px
    margin 0 auto

    padding 50px 0px

  &__call
    font-family "Iowan Old Style"
    color white

    &__title
      font-size 2.55em
      font-weight bold
      padding-bottom 10px

      span
        display block

    &__subtitle
      font-size 1.25em
      font-weight 800
      text-transform uppercase
      color #80bac1

.thoughts
  background-color #b6d2d6

  &__container
    width 1000px
    margin 0 auto

    display flex
    justify-content space-around

  &__section
    width 43%

    &__title
      font-family "Iowan Old Style"
      text-align center
      padding 25px 0px

      h2
        font-size 2.5em
        font-weight 800
        color #13535e

      h3
        padding-top 8px
        font-size 1.15em
        color #4f787f

.hpost
  font-family "Iowan Old Style"
  margin-bottom 20px
  padding 20px
  
  border-radius 8px
  border 1px solid #a8c1c4
  background-color #c5e2e6
  
  transition all 0.4s
  
  &:hover
    box-shadow 0 10px 20px rgba(0,0,0,0.08), 0 6px 6px rgba(0,0,0,0.08)

  &__title

    h2
      font-size 1.5em
      font-weight 300
      color #13535e
      
      padding-bottom 8px
      border-bottom 1px solid #a8c1c4

    &__tags
      margin 5px 0px
      
      &__title
        font-family "Helvetica Neue"
        font-size 0.55em
        font-weight 600
        text-transform uppercase
        letter-spacing 1.3px
        color #5f6f70

        display inline-block

        margin-right 5px

    &__tag
      font-family "Helvetica Neue"
      font-size 0.55em
      font-weight 600
      text-transform uppercase
      letter-spacing 1.3px
      color #5f6f70

      display inline-block

      padding 4px
      margin 5px 0px
      margin-right 5px

      background-color #a5bec2

      border-radius 5px
      border 1px solid #95abae

  &__body
    color #5f6f70
    
.hplanner
  background-color #eee
  width 410px
  font-family "Iowan Old Style"
  
  box-shadow 0 3px 6px rgba(0,0,0,0.10), 0 3px 6px rgba(0,0,0,0.15)
  border-radius 5px
  
  &__title
    padding 15px
    padding-bottom 23px
    text-align center
    
    display flex
    align-items center
    justify-content center

    h2
      font-size 2.25em
      font-style italic
      color #13535e
      
      margin-right 12px
      
    h3
      font-size 1.0em
      font-weight 800
      text-transform uppercase
      color #1d7a89
      
  &__buttons
    padding 20px
    text-align center
    
    a
      color #1d7a89
      font-weight 600
      text-decoration none
      
      &:hover
        text-decoration
        
  &__events
    perspective 1000px
    perspective-origin 50% 50%
        
.hshow
  display flex
  font-family "Iowan Old Style"
  
  width 110%
  margin-left -5%
  margin-top -12px
  
  transform rotateX(20deg)
  transition all 0.4s
  
  box-shadow 0 10px 20px rgba(0,0,0,0.08), 0 6px 6px rgba(0,0,0,0.10)
  text-decoration none
  
  &:hover
    transform rotateX(0deg)
  
  // Fix just for Safari...
  > div:first-child
    flex 1 0 auto
  
  &__left
    background-color #adcfd3
    color #13535e
    
  &__right
    background-color #13535e
    color #adcfd3
    padding 15px 25px
    
  &__date
    display flex
    flex-direction column
    align-items center
    
    padding 15px 25px
    
    &__month
      font-size 1.0em
      font-weight 800
      text-transform uppercase
      
      margin-bottom 5px
      
    &__num
      font-style italic
      
      display flex
      
      &__num
        font-size 3em
        font-weight 800
        
      &__raised
        margin-left 3px
        margin-top 5px
        font-size 1.75em
        
  &__title
    font-weight 800
    font-size 1.0em
    margin-bottom 5px
    
  &__description
    font-size
    color #8ea9ac
    