.pshows
	background-color #eee
	
	&__timeline
		padding-top 10px
		margin 0 auto
		width 30%
		max-width 1000px
		
.pshow
	box-shadow 0 10px 20px rgba(0,0,0,0.08), 0 6px 6px rgba(0,0,0,0.1)
	font-family "Iowan Old Style"
	display inline-block
	width 100%
	text-decoration none
	margin 20px 0px
	
	&__container
		display flex
		
	&__left
		background-color #adcfd3
		
	&__right
		flex-grow 1
		background-color #13535e
