extend gen_page

block content
	.pabout
		.pabout__container

			.pabout__content-block
				h2 Our Story (A)
				p Content Example

			.pabout__content-block
				h2 Our Mission (B)
				p Content Example
			
			.pabout__content-block
				h2 Location and Participants (C)
				p Content Example