extend gen_page

block content
  .page
    .page__container--top 
      .page__container--markup
        ul
          li: a(href="/admin/post/create?password=" + password) Create New Blog Post
          li: a(href="/admin/show/create?password=" + password) Create New Show
          li: a(href="?password=" + password) View Un-Approved Posts
