mixin header()
	.header

		.header__container

			.header__logo
				h1
					span.header__logo__upper A Pause For
					span.header__logo__lower Thought

			.header__nav
				ul
					li
						a(href="/") Home
					li
						a(href="/about") About
					li
						a(href="/shows") Shows
					li
						a(href="/schedule") Schedule
					li
						a(href="/blog") Blog