extends page

block body

	.header

		.header__container

			.header__logo
				h1
					span.header__logo__upper A Pause For
					span.header__logo__lower Thought

			.header__nav
				ul
					li
						a(href="/") Home
					li
						a(href="/about") About
					li
						a(href="/shows") Shows
					li
						a(href="/schedule") Schedule
					li
						a(href="/blog") Blog

	.section

		.hero

			.hero__container

				.hero__left

					.hero__call

						h2.hero__call__title
							span.hero__call__title__upper A thoughtful show,
							span.hero__call__title__lower for thoughtful people

						h3.hero__call__subtitle
							span Every Wednesday, 5PM

				.hero__right

	.section.section--thoughts

		.thoughts

			.thoughts__container

				.thoughts__section

					.thoughts__section__title
						h2 My Thoughts
						h3 Thoughts from our host, Wayne Parker

					.thoughts__section__list

				.thoughts__section

					.thoughts__section__title
						h2 Your Thoughts
						h3 Thoughts from our viewers and listeners

					.thoughts__section__list
