extends page

include ./global_elements.jade

block body

	+header()

	.section

		.hero

			.hero__container

				.hero__left

					.hero__call

						h2.hero__call__title
							span.hero__call__title__upper A thoughtful show,
							span.hero__call__title__lower for thoughtful people

						h3.hero__call__subtitle
							span Every Wednesday, 5PM

				.hero__right

					.hplanner
						.hplanner__title
							h2 Shows
							h3 Recent

						.hplanner__events
							each show in shows
								a(href="#").hshow

									.hshow__left

										h2.hshow__date
											span.hshow__date__month April
											span.hshow__date__num
												span.hshow__date__num__num 6
												span.hshow__date__num__raised th

									.hshow__right

										h2.hshow__title= show.title
										p.hshow__description= show.description

						.hplanner__buttons
							a(href="/shows") Past Shows
							a(href="/schedule") Future Schedule

	.section.section--call-bar
		.call-bar

			.call-bar__left
				img(src="thinker.png").call-bar__left__thinker
				.call-bar__left__container
					h2.call-bar__left__title Every Wednesday
					.call-bar__badge.call-bar__badge--on-air 5:00 PM

			.call-bar__right
				h2.call-bar__right__header Share your thoughts...
				.call-bar__right__lower-container
					h3
						a(href="/user/post/create")!= "Call us on the show (225-666-5555)" + "<span>➝</span>" 
					h3
						a(href="/user/post/create")!= "Write a guest post for this site" + "<span>➝</span>" 

	.section.section--thoughts

		.thoughts

			.thoughts__container

				.thoughts__section

					.thoughts__section__title
						h2 My Thoughts
						h3 Thoughts from our host, Wayne Parker

					.thoughts__section__list
						+createPosts(posts.my)
						.buttonContainer
							a(href="/blog").thoughts__button View More Thoughts

				.thoughts__section

					.thoughts__section__title
						h2 Your Thoughts
						h3 Thoughts from our viewers and listeners

					.thoughts__section__list
						+createPosts(posts.your)
						.buttonContainer
							a(href="/user/post/create").thoughts__button Submit Your Thoughts
