extend gen_page

block content
	.pshows
		.pshows__timeline
			each show in shows
				a(href="/show/" + show.id).pshow

					.pshow__container

						.pshow__left.hshow__left

							h2.hshow__date
								span.hshow__date__month April
								+createNumber(show.day)
								
						.pshow__right.hshow__right

							h2.hshow__title= show.title
							p.hshow__description= show.description
