extend gen_page

block content
	.pshows
		.pshows__timeline
			each show in shows
				a(href="#").pshow

					.pshow__container

						.pshow__left.hshow__left

							h2.hshow__date
								span.hshow__date__month April
								span.hshow__date__num
									span.hshow__date__num__num 6
									span.hshow__date__num__raised th

						.pshow__right.hshow__right

							h2.hshow__title= show.title
							p.hshow__description= show.description
